@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}
.container {
    max-width: 1253px;
    width: 100%;
    padding: 0 15px;
    margin: auto;
}
.header {
    background: url(../images/header-background.png) center /cover no-repeat;
    height: 100%;
    border-radius: 0 0 64px 64px;
    z-index: 1;
    position: relative;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px;
}
.nav__list {
    display: flex;
    gap: 44px;
    font-size: 18px;
}
.nav__list a {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    transition: .3s;
}
.nav__list a:hover {
    font-weight: 700;
}
.header__help {
    display: flex;
    align-items: center;
    gap: 12px;
}
.help__text {
    display: flex;
    flex-direction: column;
}
.help__text span, .help__text a {
    color: #fff;
}
.help__text span {
    margin-bottom: 8px;
}
.help__text a {
    font-weight: 600;
}
.hero .container {
    display: flex;
    justify-content: space-between;
    margin-top: 69px;
}
.hero__label {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 28px;
    color: #ff9e0c;
}
.hero__content {
    display: flex;
    flex-direction: column;
    margin-top: 230px;
}
.hero__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: -0.06em;
    color: #fff;
    margin: 70px 0 131px;
}
.hero__subtitle {
    font-family:"Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: -0.03em;
    color: #fff;
    margin-bottom: 43px;
}
.hero__actions {
    display: flex;
    gap: 20px;
    padding-bottom: 75px;
}
.btn {
    border-radius: 32px;
    padding: 20px 32px;
    background: #fff;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    color: #193152; 
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}
.btn:hover {
    background: linear-gradient(90deg, #ffbd00 0%, #ff9e0c 100%);
}
.arrow__action {
    margin-left: 12px;
}
.booking {
    padding: 40px;
    border-radius: 20px;
    background: #fff;
    height: 503px;
}
.booking__title {
    font-weight: 600;
    font-size: 28px;
    color: #000;
    margin: 40px 0;
}
.booking__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-group {
    position: relative;
}
.form-group select, .form-group,
.form-group input {
    height: 38px;
    padding: 11px 16px;
    cursor: pointer;
    background: #fafafa;
    width: 336px;
}
.form-group {
    display: flex;
}
.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.date label {
    font-size: 12px;
    width: 100%;
    padding-left: 20px;
}
input[type="date"] {
    color: transparent;
    cursor: pointer;
}
.btn--accent {
    width: 336px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    border-radius: 12px;
}
.btn--accent:hover {
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background: #ff9e0c;
}
.journey {
    background: linear-gradient(180deg, #ffbd00 0%, #ff9c00 100%);
    border-radius: 0 0 75px 75px;
    padding: 68px;
    position: relative;
    top: -60px;
}
.journey__features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 6px;
    margin-top: 68px;
}
.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feature__title {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #fff;
    margin: 20px 0 29px;;
}
.feature__text {
    font-family: "Inter", sans-serif;
    text-align: center;
    color: #fff;
    width: 357px;
    line-height: 150%;
}
.journey__title {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 64px;
    line-height: 97px;
    letter-spacing: -0.05em;
    color: #fff;
    text-align: center;
    height: 209px;
    width: 1036px;
    margin: auto;
    margin-bottom: 145px;
}
.journey__image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 82px;
}
.big-car {
    position: absolute;
}
.mouse {
    position: absolute;
    right: 105px;
    bottom: 56px;
}
.cars {
    margin-top: 150px;
}
.cars__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
}
.cars__title {
    font-weight: 700;
    font-size: 50px;
}
.cars__view-all {
    font-weight: 700;
    font-size: 20px;
    color: #000;
}
.car-card {
    max-width: 416px;
    width: 100%;
}
.car-card__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.car-card__name {
    font-weight: 600;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 4px;
}
.car-card__price {
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.6);
}
.car-card__price {
    width: 51px;
}
.car-card__amount {
    font-weight: 600;
    font-size: 24px;
    text-transform: capitalize;
    color: #ff9e0c;
    display: block;
    margin-bottom: 4px;
}
.car-card__day {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    text-transform: lowercase;
}
.car-card__features {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}
.feature__type {
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.6);
}
.car-card__features li {
    display: flex;
    align-items: center;
    gap: 8px;
}
.car-card__button {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    padding: 15px 135px;
    border-radius: 12px;
    background: #ff9e0c;
    display: block;
    margin: 0 auto 24px;
}
.cars__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 72px;
}
.advantages {
    position: relative;
    margin-top: 168px;
    overflow: hidden;
    margin-bottom: 98px;
}
.advantages .container {
    display: flex;
    flex-wrap: wrap;
}
.advantages__line-wrapper {
    position: absolute;
    z-index: -1;
    inset: 0;
    width: 100%;
    height: 100%;
}
.advantages__line-wrapper svg {
    display: block;
}
.advantage-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 101px;
    margin-top: 63px;
}
.advantage-row__image img  {
    border-radius: 999px;
    object-fit: cover;
}
.advantage-row__title {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    font-size: 39px;
    margin-bottom: 21px;
}
.advantage-row__text {
    line-height: 160%;
    letter-spacing: -0.02em;
    max-width: 392px;
    width: 100%;
}
.fuel {
    margin-top: 75px;
}
.modern {
    max-width: 392px;
    width: 100%;
}
.testimonials {
    position: relative;
    overflow: hidden;
}
.testimonials__label {
    font-weight: 500;
    font-size: 14px;
    color: #1572d3;
    border-radius: 8px;
    background: rgba(21, 114, 211, 0.1);
    padding: 16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 161px;
    height: 42px;
    margin: 0 auto 24px;
}
.left-quote {
    position: absolute;
    left: 137px;
    top: 90px;
    z-index: -1;
}
.right-quote {
    position: absolute;
    right: 106px;
}
.testimonials__title {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 500;
    font-size: 38px;
    margin-bottom: 80px;
}
.testimonial {
    box-shadow: 0 12px 24px 0 rgba(16, 76, 139, 0.16);
    background: #fff;
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
    border-radius: 24px;
    cursor: pointer;
    margin-bottom: 191px;
}
.testimonial__score, .rating {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 64px;
}
.rating {
    font-size: 24px;
}
.testimonial__rating {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;

}
.testimonial__stars {
    margin-top: 24px;
}
.testimonial__text {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 150%;
    color: #282828;
    margin-bottom: 80px;
    width: 317px;
}
.brands-swiper {
  width: 100%;
}

.brands-swiper .swiper-wrapper {
  align-items: center;
  transition-timing-function: linear !important;
}

.brands-swiper .swiper-slide {
  flex-shrink: 0;
  width: auto;
}
.brand-card {
  width: 180px;  
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brands {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  padding: 60px 0;
  overflow: hidden;
  margin-bottom: 123px;
}
.facts {
    background: linear-gradient(180deg, #ffbd00 0%, #ff9e0c 100%);
    height: 700px;
}
.facts {
    padding: 60px 144px;
    position: relative;
    z-index: 1;
}
.backround-trace {
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 141px;
    top: 25px;
}
.background-car {
    position: absolute;
    z-index: -2;
    bottom: -125px;
    left: 415px;
    bottom: 38px;
}
.facts__header h4 {
    font-weight: 700;
    font-size: 50px;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}
.facts__header p {
    text-align: center;
    color: #fff;
    max-width: 712px;
    width: 100%;
    margin: 0 auto 80px;
}
.facts__list {
    display: flex;
    gap: 64px;
    margin-bottom: 110px;
}
.fact-card {
    border-radius: 20px;
    padding: 16px;
    background: #fff;
    width: 240px;
    display: flex;
    align-items: center;
    gap: 16px;
}
.fact-card__icon {
    background: #ff9c00;
    border-radius: 12px;
    padding: 21px 18px;
}
.fact-card__info h4 {
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
}
.fact-card__info span {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
}
.footer {
    padding: 58px 104px;
    display: flex;
    background: #383b4c;
    border-radius: 75px 75px 0 0;
    position: relative;
    z-index: 1;
    margin-top: -155px;
}
.footer__left {
    margin-right: 92px;
}
.footer__wrapper {
    display: flex;
    align-items: center;
}
.footer__hashtag {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 31px;
    color: #8b97a7;
    margin: 22px 0 26px;
}
.footer__bottom {
    display: flex;
    gap: 12px;
}
.footer__socials {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 21px;
}
.reserved {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 12px;
    color: #8b97a7;
}
.footer__links {
    display: flex;
    gap: 7px;
}
.footer__links a {
    color: #8b97a7;
    font-size: 12px;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.footer__center h4 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
}
.footer__center a {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #8b97a7;
}
.footer__center ul {
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.footer__payments {
    display: flex;
    gap: 8px;
    margin-top: 55px;
}
.footer__center {
    margin-right: 38px;
}
iframe {
    border-radius: 32px;
}
.footer__right {
    display: flex;
    align-items: flex-end;
    gap: 30px;
}
.footer__address {
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #8b97a7;
}
.advantage-row__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}